body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.top {
    background: #111;
    color: white;
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h1 {
    color: #333;
}

p {
    color: #666;
}
